@import 'mq'
@import 'functions'
@import 'keyframes'

$colors = {
    white: #ffffff,
    black: #000000,
    gray: #BFBFBF,
    blue: #3A539B,
    yellow: #F4D03F
}

html
    height: 100%

body
    min-height: 100%
    background-color: #222
    color: #222
    margin: 0
    font: 18px/1.6em 'Roboto', sans-serif
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center