@import 'mq'
@import 'functions'
// @import 'keyframes'

$colors = {
    white: #ffffff,
    black: #000000,
}

html
    height: 100%

body
    min-height: 100%
    background-color: $colors.black
    color: $colors.white
    margin: 0
    font: 18px/1.6em 'Montserrat', sans-serif
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center