@keyframes stratumIconIn
    0%
        transform: translate3d(-90px, 0, 0)
    100%
        transform: translate3d(0, 0, 0)

@keyframes stratumIconPlaneIn
    0%
        transform: translate3d(-90px, 90px, 0)
    100%
        transform: translate3d(0, 0, 0)

@keyframes stratumIconOut
    0%
        transform: translate3d(0, 0, 0)
    100%
        transform: translate3d(90px, 0, 0)

@keyframes stratumIconPlaneOut
    0%
        transform: translate3d(0, 0, 0)
    100%
        transform: translate3d(90px, -90px, 0)

@keyframes stratumTextIn
    0%
        opacity: 0
        transform: translate3d(-45px, 0, 0)
    100%
        opacity: 1
        transform: translate3d(0, 0, 0)

@keyframes stratumTextOut
    0%
        opacity: 1
        transform: translate3d(0, 0, 0)
    100%
        opacity: 0
        transform: translate3d(45px, 0, 0)

@keyframes stratumCoverIn
    0%
        opacity: 0
        transform: translate3d(0, 0, 0) scale(1.5)
    100%
        opacity: 1
        transform: translate3d(0, 0, 0) scale(1)

@keyframes stratumCoverOut
    0%
        opacity: 1
        transform: translate3d(0, 0, 0) scale(1)
    100%
        opacity: 0
        transform: translate3d(0, 0, 0) scale(1.5)