$mq = {
    mobile     : '(max-width: 1023px)',
    not_mobile : '(min-width: 1024px)',
    tablet     : '(min-width: 680px) and (max-width: 1023px)',
    desktop    : '(min-width: 1024px)',
    ie         : '(-ms-high-contrast: none), (-ms-high-contrast: active)',
    iphone5    : '(max-width: 374px)',
    large_desktop : '(min-width: 1600px)',
    small_desktop : '(min-width: 1024px) and (max-width: 1199px)',
    webkit     : '(-webkit-min-device-pixel-ratio: 0)'
}